@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin triangle {
    position: absolute;
    rotate: 45deg;
    background: linear-gradient(135deg, #ffffff00 75%, #ffa600 100%);
    width: 65vh;
    height: 65vh;
    z-index: -2;
}

@mixin social {
    display: flex;
    flex-flow: row;
    a {
        height: 2.5em;
        width: 2.5em;
        margin: 0.2em;
        cursor: pointer;
        svg {
            fill: $dark-gray;
            width: 2.5em;
            height: 2.5em;
            &:hover {
            fill: $yellow;
            }
            path {
                scale: 100%;
            }
        }
    }
}

@mixin fontStyle {
    font-family: Roboto, sans-serif;
    margin: 0;
}

@mixin formField {
    background-color: #0000002f;
    color: #ffffff;
    margin: 0.5em;
    border: none;
    border-radius: 0.2em;
    padding: 0.5em;
}