@import "./styles/variables";
@import "./styles/mixins";

body {
  background-color: $yellow;
  margin: 0;
}

h1, h2, h3, p, ul, li {
  @include fontStyle;
  color: $dark-gray;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: $light-yellow;
}

::-webkit-scrollbar-thumb {
  background: $dark-gray;
  border-radius: 1em;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      a {
        color: $dark-gray;
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none;
        margin: 1em;
        display: inline-block;
        &:hover {
          color: $yellow;
        }
        &:focus {
          color: $yellow;
        }
      }
    }
  }
}

.content {
  @include flex;
  overflow: hidden;
  main {
    z-index: 0;
  }
  h2 {
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 10px;
  }
}

.banner {
  @include flex;
  position: relative;
  z-index: -1;
  flex-flow: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $light-yellow;
  img {
    height: 10em;
    width: 10em;
    padding: 2%;
    z-index: 1;
    padding-bottom: 0;
  }
  h1 {
    font-size: 3em;
    text-align: center;
    margin: 0.5em 0.5em 0 0.5em;
  }
  h2 {
    margin-bottom: 0.5em;
  }
  .triangle {
    @include triangle;
    bottom: 20vh;
  }
  .triangle2 {
    @include triangle;
    bottom: 50vh;
  }
  .triangle3 {
    @include triangle;
    bottom: 80vh;
  }
  .social {
    @include social;
  }
}

.allProjects {
  z-index: 1;
  background: $gradient;
  padding: 10em 0 10em 0;
  h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
  }
  .projects {
    @include flex;
    flex-flow: row wrap; 
    .item {
      @include flex;
      flex-basis: 40vw;
      position: relative;
      transition: all 0.8s ease-in-out;
      @media (width < 900px) {
        flex-basis: 80vw;
      }
      &:hover > .description {
        z-index: 1;
        bottom: 0;
        height: 100%;
      }
      img {
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
      }
      .description {
        @include flex;
        flex-flow: row;
        position: absolute;
        bottom: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        background-color: $light-yellow;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        .description-content {
          @include flex;
          flex-direction: column;
          padding: 1em;
          width: 50%;
          h3 {
            text-align: center;
            font-size: 2vw;
            font-weight: 700;
            @media (width < 900px) {
              font-size: 4vw;
            }
          }
          .tech-tree {
            display: flex;
            justify-content: center;
            flex-flow: row;
            width: 2.5vw;
            height: 2.5vw;
            margin: 2vw 0 2vw 0;
            @media (width < 900px) {
              width: 4vw;
              height: 4vw;
            }
            img {
              margin-right: 0.3vw;
              object-fit: scale-down;
            }
          }
          .links {
            @include flex;
            justify-content: flex-start;
            flex-direction: row;
            a {
              @include flex;
              flex-direction: row;
              height: 2vw;
              width: 6vw;
              margin-right: 0.3vw;
              background-color: $dark-gray;
              text-decoration: none;
              transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
              @media (width < 900px) {
                height: 3vw;
                width: 10vw;
              }
              &:hover {
                background-color: $yellow;
              }
              &:hover > svg {
                fill: $dark-gray;
              }
              &:hover > p {
                font-weight: 700;
                color: $dark-gray;
              }
              svg {
                height: 1.6vw;
                width: 1.6vw;
                margin-right: 0.4vw;
                fill: #ffffff;
              }
              p {
                color: #ffffff;
                font-size: 1vw;
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                @media (width < 900px) {
                  font-size: 1.4vw;
                }
              }
            }
          }
        }
        .description-text {
          @include flex;
          align-items: baseline;
          height: 100%;
          width: 50%;
          background-color: $yellow;
          overflow-y: auto;
          p {
            margin: 2vw 2vw 2vw 2vw;
            font-size: 1vw;
            @media (width < 900px) {
              font-size: 2vw;
            }
            a {
              color: #ffffff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.contact {
  @include flex;
  flex-flow: column;
  background: $gradient;
  min-height: 100vh;
  min-width: 100vw;
  .first {
    @media (width < 900px) {
      margin-top: 30vw;
    }
  }
  h1 {
    font-size: 2.5em;
    text-align: center;
    @media (width < 900px) {
      margin-left: 4vw;
      margin-right: 4vw;
    }
  }
  .social, .resume {
    @include social;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    @media (width < 900px) {
      margin-bottom: 6vw;
    }
  }
  .email {
    @include flex;
    @media (width < 900px) {
      width: 80%;
    }
  }
}
form {
  @include flex;
  flex-flow: column;
  width: 40vw;
  margin: 1vw;
  @media (width < 900px) {
    width: 100%;
  }
  #email {
    @include fontStyle;
    @include formField;
    width: 40vw;
    height: 2vw;
    @media (width < 900px) {
      width: 100%;
      height: 4vw;
    }
    &:focus {
      outline: none;
    }
  }
  ::placeholder {
    color: #ffffff;
    opacity: 1;
  }
  #message {
    @include fontStyle;
    @include formField;
    width: 40vw;
    min-height: 4vw;
    @media (width < 900px) {
      width: 100%;
      height: 20vw;
    }
    &:focus {
      outline: none;
    }
  }
  p {
    @include fontStyle;
    color: $dark-gray;
    font-weight: 700;
  }
  button {
    @include fontStyle;
    width: 10em;
    height: 2.5em;
    cursor: pointer;
    font-weight: 700;
    background-color: $dark-gray;
    color: #ffffff;
    border: none;
    margin: 0.5em;
    padding: 0.5em;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    @media (width < 900px) {
      margin-bottom: 30vw;
    }
    &:hover {
      background-color: $yellow;
      color: $dark-gray;
    }
    &:active {
      transform: scale(.9);
    }
  }
}